<nav class ='navbar navbar-expand navbar-light bg-light'>
  <h2 class='nav-brand' routerLink='/home' > Shopper's Stop</h2> 
    <ul class='nav nav-pills'>
      <li><a class='nav-link' [routerLink] =" ['/products'] " >Products List</a> </li>
      <li><a class='nav-link' [routerLink] =" ['/product/1'] " >Product Details</a> </li>
      <li><a class='nav-link' [routerLink] =" ['/addproduct'] " >Add Product</a> </li>
      <li><a routerLink="/cart" class="button fancy-button">
        <i routerLink="/cart" class='fas fa-shopping-cart fa-2x'></i>
      </a></li>
      <li> <a class='nav-link' routerLink='/home' > Logout</a>  </li>
    </ul>
</nav>

<div class="admin">
  <p class="welcome">Admin Account</p>
 
</div>
